<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Cancel account</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body style="background-image: url('${frontImageUrl}/bg_login.009bc52eeb9617af382e.png'); background-color: grey;">

    <div style="width: 600px;margin: auto;">
      <div style="margin: 30px auto;text-align: center;">
        <img src="${frontImageUrl}/assets/img/smart-sdk.png" alt="logo"/>
      </div>
      <div style="margin:25px auto;background-color: #fff;border: 1px solid #6cc4d3;padding: 40px;border-radius: 10px;">
        <h1 align="center" style="font-size: 36px; margin: 0px 0px 25px 0px; font-weight: bold; color: #002D67;">Smart Cities</h1>
        <p>Hello ${name}!</p>
        <br/>
        <p>You are informed that your account <font color="red">has successfully</font> deleted from the system.</p>

        <p>If you do not request this change, <font color="red">please send an email to:</font> ${support_email}</p>
      </div>
      <div style="text-align:center;">
        <p>&copy; 2017 SmartSDK</p>
      </div>
    </div>
    
  </body>
</html>
